<div class="grd">
  <div class="grd-row">
    <div class="grd-row-col-2">
        <h1>🐱 Locas, menos andre 🐱</h1>
        <form (ngSubmit)="newUser(newUserForm.value)" [formGroup]="newUserForm">
          <input type="hidden" formControlName="id">

          <label for="nombre">Nombre</label>
          <input type="text" formControlName="nombre">

          <label for="apellido">Apellido</label>
          <input type="text" formControlName="apellido">

          <input type="submit" class="btn--blue btn--add" [disabled]="!newUserForm.valid" value="Agregar">
        </form>
    </div>
    <div class="grd-row-col-4">
      <div class="cats_container">
        <div class="media" *ngFor="let user of users">
          <div class="media-figure">
            <p>{{user.data.nombre}}</p>
          </div>
          <div class="media-body">
            <p>{{user.data.apellido}}</p>
            <div class="btn--group">
              <button class="btn--green btn--s btn1" (click)="editUser(user.id)">Editar</button>
              <button class="btn--red btn--s btn2" (click)="deleteUser(user.id)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
