



<div class="container" style="min-height: 30vh; max-height: 70vh;">
  <div class="row text-center">
    <div class="col-md-10">
        <h1 >
            Inscribir Materias A Estudiantes
        </h1>
    </div>
    <div class="col-md-2">
        <button mat-fab aria-label="Quitar Materia" (click)="close()" style="background: #ccdeae;">
            <mat-icon style="font-size: 20px;">close</mat-icon>
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form class="example-form">
          <mat-form-field class="example-full-width">
              <input type="text" placeholder="Buscar Estudiante" matInput [matAutocomplete]="autoOperators" [(ngModel)]="studentSelect" [formControl]="myControl" >
              <mat-autocomplete class="single-autocomplete" #autoOperators="matAutocomplete" [displayWith]="compareObjectSelect" ngDefaultControl>
                <mat-option *ngFor="let student of filteredOptions | async" [value]="student" >
                  {{student.data.nombre}} {{' ' + student.data.apellido}} - {{student.data.identificacion}}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <mat-progress-spinner style="margin:0 auto;" mode="indeterminate" *ngIf="loading" [diameter]="200"></mat-progress-spinner>
    </div>
  </div>
  
  <div *ngIf="!loading && this.studentSelect && this.studentSelect.data && this.studentSelect.id">
    <div class="row" style="font-size: 24px;">
      <div class="col-md-6 text-center">
          <span>Estudiante: {{studentSelect.data.nombre}}</span>
      </div>
      <div class="col-md-6 text-center">
        <span>Identificacion: {{studentSelect.data.identificacion}}</span>
      </div>
    </div>
    <div class="row" style="padding: 50px 0px 50px 0; height: 300px;" >
      <div class="col-md-6">
        <span>Todas Las Materias</span>
          <select  class="form-control" [(ngModel)]="selectedToAdd" multiple name="myselecttsms2" (ngModelChange)="chosenCars($event)" style="height: 100%;">
            <option style="font: 150% sans-serif;" *ngFor="let car of objectSubjects" [ngValue]="car">{{car.data.nrc}} : {{car.data.nombre}}</option>
          </select>
      </div>
      <div class="col-md-6">
          <span>Materias Del Estudiante</span>
          <select  class="form-control" [(ngModel)]="selectedToRemove" multiple name="myselecttsms" (ngModelChange)="chosenCarsToRemove($event)" style="height: 100%;">
            <option style="font: 150% sans-serif;" *ngFor="let car of selectedCars" [ngValue]="car">{{car.data.nrc}} : {{car.data.nombre}}</option>
          </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
          <button mat-fab aria-label="Agregar Materia" (click)="assigne()" style="background: #53e44a;">
              <mat-icon style="font-size: 20px;">add</mat-icon>
          </button>
      </div>
      <div class="col-md-6 text-center">
          <button mat-fab aria-label="Quitar Materia" (click)="unassigne()" style="background: red;">
              <mat-icon style="font-size: 20px;">remove</mat-icon>
          </button>
      </div>
    </div>
    <div class="mt-3 mb-3">
        <button class="btn btn-primary btn-block" (click)="updateStudent()" [disabled]="updateLoading">{{(updateLoading) ? 'Actualizando... Espera un momento' : 'Actualizar'}} </button>
    </div>
  </div>
  
</div>



